
input{
  border:0px;
  background-color:inherit;
  width:fit-content;
  min-width:0;
}

body{
    font-family:Montserrat, sans-serif;
    font-size:1.2em;
    font-weight:100;
    color: white;
    line-height:1.25;
    background-color:#1e5799;
    white-space:nowrap;
}

strong{
    font-family:sans-serif;
    color:palegoldenrod;
}

.nextPeriod, .thisPeriod{
    font-family:Georgia, serif;
    font-weight:500;
    color:#bfe1ef;/*#bfe1ef,#abeeff, powderblue*/
}

#container{
    
}

a{
    color:coral;
}

a:hover{
    color:cornflowerblue;
}

#noschool{
    
}

.indent{
    margin-left:1em;
}

